.form-class {
  width: 65%;               
  max-width: calc(100vw - 140px - 110px);
  margin-left: 80px;   
  margin-top: 40px;
  margin-right: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 24px 120px 40px;
}
.form-class h3{
    color:black;
}
.form-class label{
    color:black;
    font-weight: bold;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header p{
    color:black;
    cursor: pointer;
}
.header p:hover{
    width:25px;
    height:25px;
    color: white;
    background-color:rgb(245, 2, 2);
    text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.field input,
.field textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.input-wrapper {
  position: relative;
  width: 20%;
}
.input-wrapper label{
    font-weight: bold;
}
.input-wrapper input {
  width: 100%;
  padding:10px;
  padding-right: 20px; 
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.field-description textarea{
  height:120%;
  padding:20px;
  width:50%;
}
.buttons{
    display: flex!important;
    justify-content: flex-end!important;
    gap:5px!important;
}
#button-id{
    margin: 0 auto;
    background-color: rgb(36, 36, 234)!important;
    color:white!important;
}
#budget-id{
  width:50%;
}
.reports{           
  max-width: calc(100vw - 140px - 110px);
  margin-top: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 24px 80px 40px;
  gap:20px;
}
.inner-bar{
    max-width:50% !important;
    display: flex;
    justify-content: space-around;
    align-items: left;
    border-bottom: 1px solid #ccc;
}
.reports .inner-bar p{
    color:black;
}
.error-msg {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  text-align: center;
}
.success-msg {
  background: #dcfce7;
  color: #166534;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  text-align: center;
}